header {
    font-size: 25vh;
    color: yellow;
    text-align: left;
    background-color: red;
}

table, th, td {
    width: 100%;
    border: 2px solid blue;
    border-collapse: collapse;
}

a:link {
    color: blue;
}

a:visited {
    color: purple;
}

a:hover {
    color: yellow;
}

a:active {
    color: red;
}

svg {
    float: left;
    position: relative;
    width: 200px;
    padding: 10px;
    border: 2px solid gray;
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
}

form {
    float: left;
    position: relative;
    width: 200px;
    padding: 10px;
    border: 2px solid gray;
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
}

video {
    float: right;
    position: relative;
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
}

footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    font-size: 20px;
    color: blue;
}